In [1]:
import requests
from bs4 import BeautifulSoup
import re
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
Company=[]
Valuation=[]
Datejoined=[]
Country=[]
City=[]
Industry=[]
Investors=[]

In [3]:
req = requests.get(f'https://www.cbinsights.com/research-unicorn-companies')
soup = BeautifulSoup(req.text)
body = soup.find('body')
row = body.find_all('tr')
li=[]
for data in row:
    for d in data.find_all('td'):
        li.append(d.text)
start,step = 0,7
for i in range(0,len(li)//7):
    end = start+step
    a,b,c,d,e,f,g = li[start:end]
    #,h,j,k,l,m,n,o,p,q
    start = end
    Company.append(a)
    Valuation.append(b)
    Datejoined.append(c)
    Country.append(d)
    City.append(e)
    Industry.append(f)
    a=g.split(',')
    Investors.append(a[0])
print('Done')

Done

In [4]:
len(Industry)

0

In [5]:
df = pd.DataFrame({'Company':Company,'Valuation':Valuation,'Date Joined':Datejoined,'Country':Country,'City':City,
              'Industry':Industry,'Investors':Investors})
df

Empty DataFrame
Columns: [Company, Valuation, Date Joined, Country, City, Industry, Investors]
Index: []

In [6]:
len(df["Company"].unique())

0

In [7]:
df.drop_duplicates(subset=['Company'], keep='first', inplace=True)

Empty DataFrame
Columns: [Company, Valuation, Date Joined, Country, City, Industry, Investors]
Index: []

In [8]:
df

Empty DataFrame
Columns: [Company, Valuation, Date Joined, Country, City, Industry, Investors]
Index: []

In [12]:
df.reset_index(drop=True, inplace=True)

In [13]:
df.isnull()

Empty DataFrame
Columns: [Company, Valuation, Date Joined, Country, City, Industry, Investors]
Index: []

In [15]:
#df['Valuation'] = df['Valuation'].str.replace('$', '')

In [16]:
df['Valuation'] = df['Valuation'].astype(str).str.replace('$', '')

In [42]:
df['Valuation'] = df['Valuation'].apply(lambda x: str(x).replace('$', '') if isinstance(x, str) else x)

In [43]:
df["Valuation"].unique()

array([], dtype=float64)

In [44]:
df["Country"].unique()

array([], dtype=float64)

In [45]:
df["City"].nunique()

0

In [46]:
df[df['City'] == ""].index

RangeIndex(start=0, stop=0, step=1)

In [47]:
# rows_to_drop = [2, 237, 311, 341, 369, 486, 498, 532, 557, 615, 890, 988, 1044, 1071, 1076, 1094, 1103, 1114, 1163]
# df.drop(index=rows_to_drop, inplace=True)

In [48]:
# Ensure only existing indices are included
rows_to_drop = [index for index in rows_to_drop if index in df.index]

# Drop the rows
df.drop(index=rows_to_drop, inplace=True)

In [49]:
df

Empty DataFrame
Columns: [Company, Valuation, Date Joined, Country, City, Industry, Investors, Year, Month, Day]
Index: []

In [50]:
df.reset_index(drop=True, inplace=True)

In [51]:
df

Empty DataFrame
Columns: [Company, Valuation, Date Joined, Country, City, Industry, Investors, Year, Month, Day]
Index: []

In [52]:
df["Industry"].unique()

array([], dtype=float64)

In [53]:
df["Investors"].unique()

array([], dtype=float64)

In [54]:
df['Date Joined'] = pd.to_datetime(df['Date Joined'], format='%m/%d/%Y')
df['Year'] = df['Date Joined'].dt.year
df['Month'] = df['Date Joined'].dt.month
df['Day'] = df['Date Joined'].dt.day

In [55]:
df['Valuation'].unique()

array([], dtype=float64)

In [56]:
df['City'].replace({'Bengaluru':'Bangalore'}, inplace = True)

In [57]:
df['Valuation'] = df['Valuation'].astype(float)

In [58]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 0 entries
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Company      0 non-null      float64
 1   Valuation    0 non-null      float64
 2   Date Joined  0 non-null      datetime64[ns]
 3   Country      0 non-null      float64
 4   City         0 non-null      float64
 5   Industry     0 non-null      float64
 6   Investors    0 non-null      float64
 7   Year         0 non-null      int32
 8   Month        0 non-null      int32
 9   Day          0 non-null      int32
dtypes: datetime64[ns](1), float64(6), int32(3)
memory usage: 132.0 bytes

In [34]:
df.describe()

,Company,Valuation,Date Joined,Country,City,Industry,Investors,Year,Month,Day
count,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
df.to_csv('Unicorn_Data.csv',index=False)

In [36]:
df

Empty DataFrame
Columns: [Company, Valuation, Date Joined, Country, City, Industry, Investors, Year, Month, Day]
Index: []

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 0 entries
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Company      0 non-null      float64
 1   Valuation    0 non-null      float64
 2   Date Joined  0 non-null      datetime64[ns]
 3   Country      0 non-null      float64
 4   City         0 non-null      float64
 5   Industry     0 non-null      float64
 6   Investors    0 non-null      float64
 7   Year         0 non-null      int32
 8   Month        0 non-null      int32
 9   Day          0 non-null      int32
dtypes: datetime64[ns](1), float64(6), int32(3)
memory usage: 132.0 bytes

In [38]:
Unicorn=pd.read_csv(r"Unicorn_Data.csv")

In [39]:
Unicorn[Unicorn['City']== 'Bangalore']

Empty DataFrame
Columns: [Company, Valuation, Date Joined, Country, City, Industry, Investors, Year, Month, Day]
Index: []

In [40]:
Unicorn['City'].replace({'Bengaluru':'Bangalore'}, inplace = True)

In [41]:
Unicorn[Unicorn["City"]=='Bangalore']

Empty DataFrame
Columns: [Company, Valuation, Date Joined, Country, City, Industry, Investors, Year, Month, Day]
Index: []

In [51]:
Unicorn=pd.read_csv(r"Unicorn_Data.csv")